<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>377861144089-l3pfqcieatevkim9it8asqd0gd8pp2al.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.377861144089-l3pfqcieatevkim9it8asqd0gd8pp2al</string>
	<key>API_KEY</key>
	<string>AIzaSyDJpMdBV3ZPEfRKNVZw6djqtyum1AravhU</string>
	<key>GCM_SENDER_ID</key>
	<string>377861144089</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.AppManga</string>
	<key>PROJECT_ID</key>
	<string>mangareaderandroid2</string>
	<key>STORAGE_BUCKET</key>
	<string>mangareaderandroid2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:377861144089:ios:09b4cebdd6b5d3946bf488</string>
</dict>
</plist>